.icon-img, .wl-explorer .file-path-img, .wl-explorer .name-col-icon {
  width: 22px;
  height: 22px;
}

.wl-explorer {
  position: relative;
  height: 100%;
  padding-top: 2px;
  background: #fff;
  box-sizing: border-box;
  border-radius: 4px;
}

.wl-explorer .wl-header-btn {
  padding: 10px;
  margin: 10px;
  box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.3);
}

.wl-explorer .wl-header-btn > .el-form-item {
  margin-bottom: 0;
}

.wl-explorer .u-uploading-name {
  display: inline-block;
  max-width: 120px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  vertical-align: bottom;
}

.wl-explorer .file-show-type {
  font-size: 20px;
  cursor: pointer;
  color: #00abea;
}

.wl-explorer .wl-header-file {
  margin: 10px;
  padding: 10px;
  height: 60px;
  box-sizing: border-box;
}

.wl-explorer .wl-header-file > .el-form-item {
  float: left;
  height: 100%;
  margin-right: 0;
}

.wl-explorer .file-path-box {
  width: calc(100% - 390px);
  padding-right: 10px;
}

.wl-explorer .file-path-box .el-form-item__content {
  width: 100%;
}

.wl-explorer .file-path-text {
  -webkit-appearance: none;
  background-color: #fff;
  background-image: none;
  border-radius: 4px;
  border: 1px solid #dcdfe6;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #606266;
  display: inline-block;
  font-size: inherit;
  height: 36px;
  line-height: 34px;
  outline: 0;
  padding: 0 15px;
  -webkit-transition: border-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: border-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.wl-explorer .file-path-text > .file-path-p {
  width: calc(100% - 12px);
  height: 100%;
  display: inline-block;
}

.wl-explorer .file-path-text.small {
  height: 32px;
  line-height: 30px;
}

.wl-explorer .file-path-text.small .file-path-img {
  margin-top: 3px;
}

.wl-explorer .file-path-img {
  margin-top: 6px;
  vertical-align: top;
}

.wl-explorer .file-search-box {
  width: 260px;
  padding-right: 10px;
}

.wl-explorer .file-handle-box {
  width: 110px;
}

.wl-explorer .file-path-handle {
  padding: 3px 5px;
  font-size: 24px;
  cursor: pointer;
  color: #929292;
}

.wl-explorer .file-search {
  font-size: 16px;
  font-weight: 600;
  color: #00abea;
}

.wl-explorer .wl-main-scroll {
  width: 100%;
  height: calc(100% - 156px);
}

.wl-explorer .wl-main-scroll > .el-scrollbar__wrap {
  overflow-x: hidden;
}

.wl-explorer .wl-main-list {
  padding: 0 20px 20px;
}

.wl-explorer .wl-table th {
  background-color: #f9f9f9;
  text-align: center;
  color: #666;
  font-weight: 600;
}

.wl-explorer .wl-name-col {
  display: flex;
}

.wl-explorer .wl-name-col > .namecol-iconbox {
  width: 25px;
  height: 25px;
}

.wl-explorer .wl-name-col > .namecol-textbox {
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.wl-explorer .name-col-icon {
  vertical-align: sub;
}

.wl-explorer .wl-is-folder {
  cursor: pointer;
}

.wl-explorer .wl-is-folder:hover {
  color: #409eff;
}

.wl-explorer .wl-list {
  overflow: hidden;
  text-align: center;
}

.wl-explorer .wl-list > .wl-list-item {
  position: relative;
  float: left;
  padding: 12px;
  width: 70px;
}

.wl-explorer .wl-list > .wl-list-item:hover .wl-checkbox {
  display: inline-block;
}

.wl-explorer .wl-list .wl-checkbox {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
}

.wl-explorer .wl-list .name-col-icon {
  width: 66px;
  height: 66px;
}

.wl-explorer .wl-list .list-item-name {
  height: 40px;
  line-height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  font-size: 12px;
}

.wl-explorer .file-view-components {
  position: fixed;
  top: 100px;
  left: 250px;
  right: 30px;
  bottom: 30px;
}

.wl-explorer .c-blue {
  color: #409eff;
}

.wl-explorer .u-right {
  float: right;
}

.wl-explorer .u-full {
  width: 100%;
}

.wl-explorer .u-disabled {
  color: #dedada;
  cursor: no-drop;
}
